<div class="main-container">
  <div class="container">
    <div
      class="button"
      toolTip
      [toolTipPosition]="position"
      [toolTipAlignment]="alignment"
      [toolTipClass]="class"
      [toolTipMessage]="message">
      BUTTON
    </div>
  </div>
</div>
<div class="selectors">
  <div>
    <div>position</div>
    <select name="position" (change)="positionChange($event)">
      <option value="top">top</option>
      <option value="bottom">bottom</option>
      <option value="left">left</option>
      <option value="right">right</option>
    </select>
  </div>
  <div>
    <div>alignment</div>
    <select name="alignment" (change)="alignmentChange($event)">
      <option value="center">center</option>
      <option value="start">start</option>
      <option value="end">end</option>
    </select>
  </div>
  <div>
    <div>class</div>
    <select name="class" (change)="classChange($event)">
      <option value="">None</option>
      <option value="red">red</option>
      <option value="blue">blue</option>
      <option value="green">green</option>
    </select>
  </div>
</div>
<div class="message" [formGroup]="messageGroup">
  <input type="text" formControlName="message">
</div>