.main-container {
  width: 300px;
  margin: 3rem auto;
  border: solid 1px #000;
}

.container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.button {
  padding: .5rem 1rem;
  border: solid 1px green;
  border-radius: .5rem;
  background-color: rgba(0, 255, 0, .75);
  display: inline-block;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.selectors {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.message {
  display: flex;
  justify-content: center;
}